<div class="container-fluid">
	<div class="row">
		<div class="col-12 mb-3">
			<h2 class="mb-3 text-dark"><i class="bi bi-hdd-rack"></i> Environments</h2>
			<hr>
		</div>
		<div class="col-2">
			<div class="d-grid gap-2">
				<button class="btn btn-outline-primary" (click)="showAddEnvironment()">
					<i class="bi bi-cloud-plus"></i> Add environment
				</button>
			</div>
			<div class="list-group mt-4">
				<button type="button" class="list-group-item list-group-item-action active">Bifrost</button>
				<button type="button" class="list-group-item list-group-item-action">3-8</button>
				<button type="button" class="list-group-item list-group-item-action">Staging.cloud</button>
				<button type="button" class="list-group-item list-group-item-action">3-9</button>
			</div>
		</div>
		<div class="col-10">
			<!-- SHOW ENV -->
			<div *ngIf="!addView" class="card w-75 shadow">
				<div class="card-body">
					<h4 class="card-title text-dark mb-4">Bifrost</h4>
					<dl class="row">
						<dt class="col-sm-3">URL</dt> <dd class="col-sm-9">https://bifrost.odp.appveen.com/api</dd>
						<dt class="col-sm-3">Admin username</dt> <dd class="col-sm-9">admin</dd>
						<dt class="col-sm-3">Admin password</dt> <dd class="col-sm-9">*******</dd>
					</dl>
				</div>
			</div>
			<!-- ADD NEW ENV -->
			<div *ngIf="addView">
				<nav class="navbar navbar-expand-lg bg-secondary border bg-light">
					<div class="container-fluid">
						<h4>Add new environment</h4>
						<div class="d-flex">
							<button class="btn btn-sm btn-outline-danger mx-2 buttonwidth" (click)="cancelAddEnvironment()"> Cancel </button>
							<button class="btn btn-sm btn-success buttonwidth" (click)="addEnvironment()" [disabled]="!activateSaveButton()"> Add </button>
						</div>
					</div>
				</nav>
				<div class="card-body">
					<form [formGroup]="formEnvironment">
						
						<div class="mb-3 col-4">
							<label for="environmentName" class="form-label">Name of environment <small class="text-danger">*</small></label>
							<input type="text" class="form-control" id="environmentName" formControlName="name">
						</div>
						
						<div class="d-flex flex-row">
							<!-- CONNECTION DETAILS -->
							<div class="card col-5">
								<h5 class="card-header">Connection details <small class="badge bg-dark float-end">Step 1/3</small></h5>
								<div class="card-body">
									<div class="mb-3">
										<label for="environmentURL" class="form-label">URL</label>
										<input type="text" class="form-control" id="environmentURL" formControlName="url">
									</div>
									<div class="row g-3">
										<div class="col-6">
											<label for="adminUsername" class="form-label">Username</label>
											<input type="text" class="form-control" id="adminUsername" formControlName="username">
										</div>
										<div class="col-6">
											<label for="adminPassword" class="form-label">Password</label>
											<input type="password" class="form-control" id="adminPassword" formControlName="password">
										</div>
									</div>
									<small class="mb-1 text-danger" *ngIf="errors.app">{{errors.app}}</small>
									
									<button class="btn btn-warning btn-sm float-end mt-2" (click)="fetchApps()">
										<i class="bi bi-box-arrow-down-left" *ngIf="!spinner.fetchApp"></i>
										<span class="spinner-grow spinner-grow-sm text-light" role="status" aria-hidden="true" *ngIf="spinner.fetchApp"></span>
										Fetch Apps
									</button>
								</div>
							</div>

							<!-- APP LIST -->
							<div class="card col-3 mx-1" *ngIf="appList.length > 0">
								<h5 class="card-header">App <small class="badge bg-dark float-end">Step 2/3</small></h5>
								<div class="card-body">
									<ng-container *ngFor="let app of appList">
										<button type="button" class="btn btn-sm m-1" [ngClass]="{'btn-outline-primary':selectedApp != app, 'btn-primary':selectedApp == app}" (click)="appSelect(app)">
											<span class="spinner-grow spinner-grow-sm text-light" role="status" aria-hidden="true" *ngIf="spinner.fetchDataService && selectedApp == app"></span>
											{{app}}
										</button>
									</ng-container>
									<small class="mb-1 text-danger" *ngIf="errors.dataservice">{{errors.dataservice}}</small>
								</div>
								<div class="card-footer" *ngIf="selectedApp">
									<small><span class="text-muted">Selected app :</span>&nbsp;<span class="text-danger">{{selectedApp}}</span></small>
								</div>
							</div>

							<!-- DATA SERVICE LIST -->
							<div class="card col-4 mx-1" *ngIf="dataserviceList.length > 0">
								<h5 class="card-header">DataServices <small class="badge bg-dark float-end">Step 3/3</small></h5>
								<div class="card-body">
									<ng-container *ngFor="let ds of dataserviceList">
										<button type="button" class="btn btn-sm m-1" [ngClass]="{'btn-outline-dark':selectedDataservices.indexOf(ds) == -1, 'btn-dark':selectedDataservices.indexOf(ds) != -1}" (click)="dataServiceSelect(ds)"> {{ds.name}} </button>
									</ng-container>
								</div>
								<div class="card-footer" *ngIf="selectedApp">
									<small><span class="text-danger">{{selectedDataservices.length}}</span>&nbsp;<span class="text-muted">selected.</span> </small>
								</div>
							</div>
						</div>

					</form>
				</div>
			</div>
		</div>
	</div>
</div>
